@model IEnumerable<DtuNetbank.Models.BankAccount>

@{
    ViewBag.Title = "Accounts";
}
@using (Html.BeginForm("AddAccount", "BankAccount", FormMethod.Get))
{
    
    <label>Account_id</label>
    <input type="text" name="accountId"/>
    <input type="submit" value="Add" class="btn btn-primary" />
    @ViewBag.statusMessage
}
<h2>Accounts</h2>


<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>@Html.ActionLink("Show Transactions", "Transactions", routeValues: new {accountId = item.Account_id})</td>
    </tr>
}

</table>
