@using DtuNetbank.Models.Extensions
@model IEnumerable<DtuNetbank.Models.BankAccountJsonModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumbers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th style="text-align:right;">
            @Html.DisplayNameFor(model => model.AvailableBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumbers.First().Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.Name)
        </td>
        <td align="right">
            @item.AvailableBalance.ToViewFormat() @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>@Html.ActionLink("Show Transactions", "Transactions", routeValues: new {accountId = item.Id})</td>
    </tr>
}

</table>
