@model DtuNetbank.Models.TransactionViewModel

@{
    ViewBag.Title = "Transaktioner for " + Model.AccountNumber;
    var minDate = Model.Transactions.Min(t => t.TransactionDate);
    var maxDate = Model.Transactions.Max(t => t.TransactionDate);
}


@using (Html.BeginForm("transactions", "BankAccount", FormMethod.Get))
{
    @Html.Hidden("accountId", Model.AccountNumber)
    <label>Start Date</label>
    <input type="date" name="startDate" value="@minDate" />
    <label>End Date</label>
    <input type="date" name="endDate" value="@maxDate" />
    <input type="submit" value="Update" class="btn btn-primary" />
}

<h3>Transaktioner for @Model.AccountNumber </h3>
@Html.Partial("TransactionsListPartial", Model.Transactions)


@Html.ActionLink("Hent flere", "Transactions", new { accountId = Model.AccountNumber, startDate = Model.StartDate, endDate = Model.EndDate, continuationKey = Model.ContinuationKey })
