@using DtuNetbank.Models.Extensions
@model IEnumerable<DtuNetbank.Models.TransactionJsonModel>

@{ 
    var transactionTypes = Model.Select(t => t.Type).Distinct();
    foreach(var type in transactionTypes)
    {
        <input type="checkbox" value="@type" checked onchange="toggleTransactionTypes('@type')"/> <b> @DtuNetbank.ResourceManager.GetResourceString(type) &nbsp; &nbsp;</b> 
    }
}

<table class="transactionsTable" style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narrative)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr name="@item.Type">
                <td>
                    @item.TransactionDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Narrative)
                </td>
                <td align="right">
                    @item.Amount.ToViewFormat() @item.Currency
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function toggleTransactionTypes(name) {
        $('[name="' + name + '"]').toggle();
    }
</script>